In [1]:
# # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [2]:
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [3]:
# Combine the data into a single DataFrame
merged_data = pd.merge(mouse_metadata, study_results, how="left", on=["Mouse ID"] )
#on is identifying what is the same in both datasets
merged_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [4]:
# Checking the number of mice.
# mice_count = len(mouse_metadata)
mice_count = merged_data["Mouse ID"].nunique()
mice_count

249

In [23]:
# Our data should be uniquely identified by Mouse ID and Timepoint
# Get the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
duplicate = merged_data[merged_data.duplicated("Mouse ID", "Timepoint")], keep = "Mouse ID"
duplicate

ValueError: too many values to unpack (expected 2)

In [6]:
# Optional: Get all the data for the duplicate mouse ID.

In [7]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

In [8]:
# Checking the number of mice in the clean DataFrame.